{% extends 'base.html' %}
{% block content %}
{%if books%}
    <div class="container py-5">
        <h1>Book List</h1>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Book Name</th>
                <th scope="col">Author</th>
                <th scope="col">Edition</th>
                <th scope="col">Category</th>
                <th scope="col">Publication Date</th>
                <th scope="col">Last Published</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {%for book in books%}
              <tr>
                <td>{{book.id}}</td>
                <td>{{book.book_name}}</td>
                <td>{{book.author}}</td>
                <td>{{book.edition}}</td>
                <td>{{book.category}}</td>
                <td>{{book.publication_date}}</td>
                <td>{{book.publication_date}}</td>
                <td>
                  <a href="{%url 'edit_book' id=book.id%}" class="btn btn-info">edit</a>
                  <a href="{%url 'delete_book' id=book.id%}" class="btn btn-danger">delete</a>
                </td>  
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    {% else %}
    <h1>No book available!</h1>
    {%endif%}

{% endblock  %}